.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3.9rem;
    font-weight: 700;
}

.textContainer {
    h1 {
        font-size: 2.8rem;
        margin-bottom: .7rem;
    }
    p {
        padding-left: .2rem;
        font-size: 1.4rem;
        color: var(--text-low-contrast)
    }
}